# Insert
To insert data into our created table we use INSERT command,
Insert command has following parts
* **INSERT INTO** (keyword)
* *table_name*
* list of filed we are going to insert value in inside parentheses
* **Values** (keyword)
* the Values inside parentheses

**INSERT INTO** *table_name* \
(Field_1, Field_2, …, Field_n) \
**Values** \
(Value_1, Values_2, …, Value_n)

- We can not to write the field list of and only if we put a value for all the fields defined in table in the same order.

In [1]:
USE DB1;
GO

In [2]:
INSERT INTO Departement
(Did, Dname)
VALUES
(1,'HR');
GO

In [3]:
SELECT * FROM Departement;
GO

Did,Dname
1,HR

Insert into with out mentioning fields

In [7]:
INSERT INTO Departement
VALUES
(2,'IT');
GO

SELECT * FROM Departement;
GO

Did,Dname
1,HR
2,IT

* We can also insert multiple rows in one insert

In [8]:
INSERT INTO Departement
VALUES
(3,'Management'),
(4,'Accounting'),
(5,'Security'),
(6,'Media');
GO


SELECT * FROM Departement;
GO

Did,Dname
1,HR
2,IT
3,Management
4,Accounting
5,Security
6,Media

* When we have field which is defined as identity, we can not assign data for it in insert command 

**VehicleType** table has an identity field names **dtty**

You can find the error after command which mentions **IDENTITY_INSERT** is ON or need to be OFF.

In [12]:
INSERT INTO VehicleType
(VTCode, VTName, idtty)
Values
(1,'Bus',1);
GO

INSERT INTO VehicleType
Values
(1,'Bus',1);
GO

SELECT * FROM VEHICLETYPE;
GO

: Msg 544, Level 16, State 1, Line 1
Cannot insert explicit value for identity column in table 'VehicleType' when IDENTITY_INSERT is set to OFF.

: Msg 8101, Level 16, State 1, Line 7
An explicit value for the identity column in table 'VehicleType' can only be specified when a column list is used and IDENTITY_INSERT is ON.

In this case we can just not mention field names in the list and put the values in order ignoring the *identity* or ignore the field name and the value of it.

In [15]:
INSERT INTO VehicleType
Values
(1,'Bus');
GO

INSERT INTO VehicleType
(VTCode, VTName)
Values
(2,'Taxi');
GO


SELECT * FROM VEHICLETYPE;
GO

VTCode,VTName,idtty
1,Bus,4
2,Taxi,5

* As you see, the identity value started from 4, but it should start from 1. The Reason is I have inserted three records and delete them before the command you see, if you delete a record or even all the records, identity does not reset.
* We can Reseed the Identity by **DBCC CHECKIDENT** (*table_name* | *field_name* , reseed , *seed_value*)

https://docs.microsoft.com/en-us/sql/t-sql/database-console-commands/dbcc-checkident-transact-sql?view=sql-server-ver15

# Insert a Query

What insert code does is to insert the values into table, these values could be
* array of values (just like before)
* result of a query 

In this example we create a empty table named Departement2 and we can just insert all data from departement into departement in one comment.
The result of **Select** is going to insert into table, 
* result of the select should be same fields in appropriate order of insert part

In [17]:
Select * From departement2;
GO

INSERT INTO departement2
SELECT * FROM departement;
GO

Select * From departement2;
GO

Did,Dname
1,HR
2,IT
3,Management
4,Accounting
5,Security
6,Media