# Update

To modify value(s) already inserted in table we can use update command witch has following parts
* **Update** (Keyword)
* *table_name*
* **Set** (Keyword)
* Fields = values
* **Where** (keyword) Condition

This update will effect all the rows that satisfiy the condition, if we do not have condition (= condition true) the update will effect all the rows.

* We can put *function* or *formul* instead of the value like
    * *field1 = GETDATE()*
    * *field1 = Val1 + 2*
    * *field1 = 2 * (Val1 + Val2)*
    * *...*

In [1]:
SELECT * FROM Departement;
GO

Did,Dname
1,HR
2,IT
3,Management
4,Accounting
5,Security
6,Media

Change name of departement of *Media* to *Media and Web*, that means change value of *Dname* to **Media and Web** when *Did* is equel to **6**

In [3]:
UPDATE Departement
SET Dname = 'Media and Web'
WHERE DId = 6;
GO

SELECT * FROM Departement;
GO

Did,Dname
1,HR
2,IT
3,Management
4,Accounting
5,Security
6,Media and Web

In Table Departement2, change departement name like => (Did) DName

* we use *CAST* to convert data type of field, we will discouse about convert more in convert section.

In [5]:
SELECT * FROM Departement2;
GO

UPDATE Departement2
SET Dname = '(' + CAST(Did as varchar) + ') ' + Dname

SELECT * FROM Departement2;
GO

Did,Dname
1,HR
2,IT
3,Management
4,Accounting
5,Security
6,Media

Did,Dname
1,(1) HR
2,(2) IT
3,(3) Management
4,(4) Accounting
5,(5) Security
6,(6) Media