# Delete

When we need to delete record(s) of data we use **Delete** Command, witch has following parts
* **DELETE** (keyword)
* **FROM** (Keyword)
* *table_name*
* **WHERE** (keyword) Condition

All the rows that satisfiy the condition will be deleted, if we do not have condition (= condition true) all the rows will be deleted.

## Important
It is very important to pay attention that **delete**
* Does NOT delete table
* Does NOT delete value of cell
* Does NOT delete column

Delete command 
* Delete record(s) = all the field in one or multiple rows

then we dont mention *field* in **delete** command.

In [1]:
SELECT * FROM Departement2;
GO

Did,Dname
1,(1) HR
2,(2) IT
3,(3) Management
4,(4) Accounting
5,(5) Security
6,(6) Media

Delete Departmenet with code 5

In [2]:
DELETE FROM Departement2
Where Did = 5;
GO

SELECT * FROM Departement2;
GO

Did,Dname
1,(1) HR
2,(2) IT
3,(3) Management
4,(4) Accounting
6,(6) Media

Delete all the repatment when the Departement name has more than 10 character and is not accounting

In [3]:
DELETE FROM Departement2
Where Did <> 5
AND LEN(Dname) > 10;
GO

SELECT * FROM Departement2;
GO

Did,Dname
1,(1) HR
2,(2) IT
6,(6) Media

Delete all the rows

In [4]:
DELETE FROM Departement2;
GO

SELECT * FROM Departement2;
GO

## Important

When we use delete command, SQL Server will check every record, if condition is true, record will be deleted. it is a time consumer operation and if we have huge amount of data in out table, the *time out* error will raise. 
If we want just delete all the record in table we can use command **TRUNCATE TABLE** 

I will reinsert all the record in table Departement2 to check truncate command

In [5]:
INSERT INTO Departement2
SELECT * FROM Departement;
GO

SELECT * FROM Departement2;
GO

Did,Dname
1,HR
2,IT
3,Management
4,Accounting
5,Security
6,Media and Web

In [6]:
TRUNCATE TABLE Departement2;
GO

SELECT * FROM Departement2;
GO