# DataBase
## Create Database  
Requires CREATE DATABASE permission in the master database, or requires CREATE ANY DATABASE, or ALTER ANY DATABASE permission.

https://docs.microsoft.com/en-us/sql/relational-databases/databases/create-a-database?view=sql-server-ver15

In [3]:
Use Master;
go

We can mention all the setting (much more than below on creating a database)

In [4]:
CREATE DATABASE DB1  
ON   
( NAME = DB1_dat,  
    FILENAME = 'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB1.mdf',  
    SIZE = 10,  
    MAXSIZE = 50,  
    FILEGROWTH = 5 )  
LOG ON  
( NAME = DB1_log,  
    FILENAME = 'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB1log.ldf',  
    SIZE = 5MB,  
    MAXSIZE = 25MB,  
    FILEGROWTH = 5MB ) ;  
go

: Msg 1801, Level 16, State 3, Line 1
Database 'DB1' already exists. Choose a different database name.

Also we can just create dabase with a name and all other settings are going to be default

In [0]:
Create Database DB2;
go

To find out what is current database we can use following code

In [2]:
Select DB_NAME();
GO

use DB1;
GO

Select DB_NAME();
GO

(No column name)
master

(No column name)
DB1

## Delete Database
To delet a database you can use Drop database code
* If you droped database DB2, Please recreate it, we gonna need it very soon.

In [0]:
Drop DATABASE DB2;
GO