# Schema
For the security goals, we put all the objects include
-	Table,
-	View,
-	â€¦
-	user

in to different groups and users have access (is aware or can see) the objects of the group that itself belong to, and like that the user has no idea about the other data that is not related to.

In SQL Server, by default we have a schema witch is **dbo** (Database owner) which has admin level of access.

In [2]:
use DB1;
GO

In [3]:
CREATE SCHEMA hr;
GO

# Create Table
When we create a table if we do not mention the schema, the table going to created under schema default witch is dbo.
In the basic level every table has 
- schema
- name
- set of fields
and every field has data type

Now we create two tables, 
* first is personal (Pid, Pname) belong to ***hr*** schema 
* second is Departement (Pid, Dname)

In [4]:
Create Table hr.Personal(
    Pid int,
    Pname nvarchar(50)
);
GO

Create Table Departement(
    Did smallint,
    Dname nvarchar(50)
)

### Important

* Name of every object is unique, that means if I try to create another table with name **Departement** SQL Server would not accept it
* Table name is not the compelete name of a table, complete name of a table is like
        Database_name.Schema_Name.Table_Name
* Same as compelete name of field is
        Database_name.Schema_Name.Table_Name.Field_Name
Then we can have two table with same table_name in two different schema
Also this is a method to do some operation in a database from outside of database.

In [5]:
select 'Current Database is ' + DB_NAME();
GO 

Create Table DB2.dbo.Course(
    CCode smallint primary KEY,
    CName nvarchar(20) not null,
    CUnit tinyint default(3) not null,
);
GO

Select * From DB2.dbo.Course;
GO

(No column name)
Current Database is DB1

To avoid the error we can check before creating table to make decision what to do

In [0]:
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='Course' and xtype='U')
    create table tbl (
        [Name] varchar(64) not null
    )
go

# Constraints
Constraints are some rulls that tables (data in table) should respect.

* Not null          -> if a field could accept null value of not, defaulf is yes.
* Unique            -> if values of a field should stay unique.
* Primary key       -> if field(s) is unique and sorted physically to use as an identifier of records.
* Foreign key       -> shows that a field is primary key in another table, 
                1- just accept values in table where field is primary key
                2- we can not delete record in primary key table if we used that value as foriegn key. 
* Check             -> value of field should respect a condition
* Default           -> if no value is asigned in insert code, default value will be insert in the that field
* Index             -> force database to keep another structured data, sorted by this field to increase the speed of query.

In [9]:
Create Table VehicleType(
    VTCode  int,
    VTName nvarchar(50),
-- primary key with name
    CONSTRAINT PK_VehicleType PRIMARY KEY (VTCode)
);
GO

In [10]:
Create Table Vehicle(
    VCode SMALLINT NOT NULL PRIMARY KEY,
    VLicensePlate NVARCHAR(20),
    VModel NVARCHAR(20) NULL,
    VType  INT NOT NULL,
    VYear INT Default(2000),
    CHECK(Len(VLicensePlate) > 4),
    CONSTRAINT FK_VehicleType_Vehicle FOREIGN KEY (VType)
        REFERENCES vehicleType (VTCode)
        ON DELETE CASCADE
        ON UPDATE CASCADE
);
GO

## Identity
You can create or alter a table and add field with auto increasing value. 
            
    IDENTITY (seed , increment) 
* when we have field **Identity** we do not insert data in it, value will be automatically generated.

## Change Table structure
To change table structure we need to alter table then we can alter column or simple add or drop field field

            Alter Table Table Name
                ADD Column_Name Data_Type {identity}
                |
                Alter Column Column_Name Data_Type
                |
                Drop Column Column_Name

In [12]:
ALTER TABLE VehicleType
    ADD idtty INT IDENTITY(1,1) not NULL;

ALTER TABLE VehicleType
    ALTER COLUMN idtty SMALLINT;
GO
    
ALTER TABLE VehicleType
    DROP COLUMN idtty
GO

## Drop Table
to drop table we use following code.

* if you drop a table, data will be lost.
* it is important to take a backup before changing big change in structure of database.

In [0]:
DROP TABLE VehicleType;
GO